{% extends "base.html" %}

{% block content %}
<div style="display: flex; align-items: center;">
  <img src="{{ url_for('static', filename='img/mars_avados.gif') }}" alt="здесь должна была быть картинка, но не нашлась" style="margin-right: 10px;">
  <h1>Аварийный доступ</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.capitan.label }}<br>
        {{ form.capitan(class="form-control") }}<br>
        {% for error in form.capitan.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_capitan.label }}<br>
        {{ form.password_capitan(class="form-control", type="password") }}<br>
        {% for error in form.password_capitan.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}